*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.head1 h1{
    text-align: center;
    color: rgb(90, 90, 243) ;
    margin-top: 10px;
    letter-spacing: 1px;
}
.service-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}
.obj img{
    width: 90px;
}
.obj-data{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.obj {
    width: 350px;
    height: 220px;
    box-shadow: 1px 0px 5px grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding:15px 25px ;
    border-bottom: 3px solid rgb(90, 90, 243);
}
.obj p{
  text-align: center;
  color: rgb(90, 90, 243);
  font-size: 1.1rem;
  margin-bottom: 10px;
}
.obj h2{
  color: rgb(90, 90, 243);
  letter-spacing: 1px;
}
